input/IPSC_idats/*
input/PBMC_idats/*
input/*bfile.{bed,bim,fam}
DATA/EPIC.anno.GRCh38.tsv
*.tar
*.tar.gz
old/*
*.RDS
*.RData
olddata/*
DATA/IPSC/*.idat
DATA/PBMC/*.idat
DATA/GENOTYPES/
*.bim
*.bam
*.bed
slurm*out
EWAS/*/figure
EWAS/*/associations.csv
MEFFIL/*
methQTL/*
LOGS/*
*.png
*.pdf
*.svg
*.gz
sara_correlation/
methqtl_old
*.sif
*.txt
*.tsv
*.csv
*.Rdata
*report.md
*.csv
*.ipynb